.DS_Store
docs/out/
dist
dist-*
cabal-dev
build
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
docs/site
result
.direnv
venv
__pycache__
*.fdb_latexmk
*.fls
